GimnasioWeb/nbproject/private/
*.log
apache-tomcat-10.1.13/


# Carpeta target y sus contenidos
target/
target/*
target/classes
target/maven-status



# Archivos de configuración de IDE
.classpath
.project
.settings/
.vscode/

# Archivos generados por el sistema operativo
.DS_Store

# Todos los archivos en Utils que no sean .zip
Utils/*
!Utils/*.zip
